body {
    background: black;
    display: block;
    align-items: center;
    padding:0;
    margin: 0;
    border:none;
    height: 100%;


    

}

.text{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    
        
}

.border{
    padding: 25px;
    background:black;
    color:#fff
}


.inicial{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.90;
    background-attachment:fixed;
    
 
     
}

.inicial{
    background-image:url('img/img3.jpg');
    min-height:900px;
    
    
}

.h2{
    text-align: center;
    height: 50px;
    background-color:black;
    color:#fff;
    display:block;
    margin:0;
    border:none;
    
    
    
}

.mid{
    column-count:1;
    
    
        

}

.item{
    background-color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text:10px;
    color: #fff;
    text-align: center;
    display:block;
    align-items: center;
    bottom: 50px;
    margin-bottom: 30px;
}

.mid-img{
    width: 600px;
    transition:all 500ms ease-in-out;
    cursor:pointer;
    
}

.page-end{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.90;
    background-attachment:fixed;
    

}

.page-end {
    background-image:url('img/img5.jpg');
    min-height:900px;
    


}

.page-end h2{
    margin: 0 0 20px;
    padding:0;
    font-size: 48px;
    text-transform: uppercase;
          

}

.page-end p {
    margin: 10px;
    padding:10px;
    font-size: 20px;
   

}

.page-end{
    transition:all 500ms ease-in-out;
    cursor:pointer;



}

.end{
    top:160px;
    color:rgb(255, 255, 255);
    position:relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.363);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: auto;
    padding:0;
    box-sizing: border-box;
    padding: 50px 20px;
    box-shadow: 1px 5px 15px rgba(255, 255, 255, 0.76);
    
}

.linkedin:hover{
    opacity: 0.5;
    

}

.github{
    margin: 25px;
    transition:all 500ms ease-in-out;
    cursor:pointer;
        



}

.github:hover{
    opacity: 0.5;
    transform: translatey(-1.2rem);
    
    

}

.mid-img:hover{
    opacity: 0.5;
    transform: translatey(-1.2rem);

}

@media(max-width:568px){
  .inicial, .page-end {
    background-attachment:scroll;
  }
}
