body {
    background-image: linear-gradient(rgb(10, 96, 226), rgba(93, 8, 150, 0.966));
    display: block;
    align-items: center;
    margin:0;

    
   
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    background-color: #111;
    color: #fff;
    padding: 20px;
}



.inicial{
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0.90;
    background-attachment:fixed;
    
 
     
}

.inicial{
    background-image:url('img/img3.jpg');
    min-height:600px;
    
  }

.work{
    background-color:black;
    color: #fff;
    text-align: center;
     

}

.page-end {
    color:black;
    position:relative;
    max-width: 600px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.144);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin: auto;
    padding:0;
    box-sizing: border-box;
    padding: 50px 20px;
    box-shadow: 1px 5px 15px rgba(2, 18, 39, 0.993);
    

    


}

.page-end h2{
    margin: 0 0 20px;
    padding:0;
    font-size: 48px;
    text-transform: uppercase;
          

}

.page-end p {
    margin: 10px;
    padding:10px;
    font-size: 20px;
   

}

.page-end{
    transition:all 500ms ease-in-out;
    cursor:pointer;



}

.linkedin:hover{
    opacity: 0.5;
    

}

.github{
    margin: 25px;
    transition:all 500ms ease-in-out;
    cursor:pointer;
        



}

.github:hover{
    opacity: 0.5;
    transform: translatey(-1.2rem);
    
    

}

@media(max-width:568px){
  .inicial{
    background-attachment:scroll;
  }
}
